html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    position: absolute;
    width: 90%;
    left: 5%;
    text-align: center;
    z-index: 999;
}

#map {
    height: 100%;
}

#searchContainer {
    width: 300px;
    position: absolute;
    top: 45%;
    left: 40%;
    z-index: 999;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #4D5656;
    border-radius: 40px;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    color: #4D5656;
}

#searchButton {
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #4D5656;
    border-radius: 40px;
    text-align: center;
    margin: 0px 0px 7px 0px;
}

#city {
    width: 200px;
    text-align: center;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #4D5656;
}

#tryAgain {
    width: 100%;
    z-index: 999;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #4D5656;
    border-radius: 40px;
    text-align: center;
    color: #4D5656;
    margin: 10px 0px 0px 0px;
}

#resultsContainer{

}
#info {
    
}

#resultName {
    margin: 0;
}

#results {
    position: absolute;
    left: 20px;
    top: 25%;
    padding: 15px 20px 10px 20px;
    background-color: rgba(255,255,255,0.7);
    border-width: 3px;
    border-style: solid;
    border-color: #4D5656;
    border-radius: 40px;
    /*background-color: darkseagreen;*/
}

.resultPicture {
    border-width: 3px;
    border-style: solid;
    border-color: #4D5656;
    border-radius: 20px;
}

.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

h1{
    font-family: 'Quicksand', sans-serif;
    color: #4D5656;
    font-size: 75px;
    text-shadow: 3px 3px white;
}
h2{
    color: #4D5656;
    font-family: 'Boogaloo', cursive;
}
#copyrightFooter{
    color: white;
    text-shadow: 1px 1px #4D5656;
}