html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    position: absolute;
    width: 90%;
    left: 5%;
    text-align: center;
    z-index: 999;
}

#map {
    height: 100%;
}

#searchButton {
    width: 300px;
    position: absolute;
    top: 45%;
    left: 40%;
    z-index: 999;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-radius: 40px;
    background-color: floralwhite;
    text-align: center;
}

#tryAgain {
    width: 250px;
    z-index: 999;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-radius: 40px;
    background-color: floralwhite;
    text-align: center;
}

#results {
    position: absolute;
    width: 40%;
    height: 50%;
    left: 20px;
    top: 30%;
    /*background-color: darkseagreen;*/
}

.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

h1{
    font-family: 'Quicksand', sans-serif;
    color: #4D5656;
    font-size: 75px;
    text-shadow: 3px 3px white;
}
h2{
    color: #4D5656;
    font-family: 'Boogaloo', cursive;
}
#copyrightFooter{
    color: white;
    text-shadow: 1px 1px #4D5656;
}